/* Scales images to fit their container based on width alone */
img {
  max-width: 100% !important;
  max-height: 100%;
}

/* This keeps the images from distorting the interface with the height ratio, 
as some of the photos from the API are portait rather than landscape*/
body {
  overflow: hidden;
}

html {
  background-image: url(./utility/lifehacks.png);
  background-size: cover;
  background-color: lightgray;
}

/*container for images*/
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100vw;
  height: 50vh;
}

.images1, .images2 {
  background-color: lightgray;
  width: 17vw;
  height: 24.804vh;
  transition: 0.5s;
  animation-duration: 1s;
  border: solid white 0.1vh;
  text-align: center;
}

/* Hover animation */
.hovered {
  animation-name: grow;
  animation-duration: 0.5s;
  width: 34.1vw;
  height: 50vh;
  border: solid white 0.1vh;
}

/* Grow animation */
@keyframes grow {
  50% {width: 36vw; height: 60vh; z-index: 1;}
  100% {width: 34vw; height: 50vh; z-index: 1;}
}

